ErrorDocument 400 /errors/badrequest.php
ErrorDocument 401 /errors/unauthd.php
ErrorDocument 403 /errors/forbid.php
ErrorDocument 404 /errors/notfound.php
ErrorDocument 500 /errors/serverr.php

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>

<filesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|webp|svg|swf|otf|woff2)$">
        Header set Cache-Control "max-age=63072000, public"
</filesMatch>

<filesMatch "\.(js|css)$">
        Header set Cache-Control "max-age=604800, public"
</filesMatch>
